@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Gotu', sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

/***** Classes *****/

.header-section {
  text-align: center;
  background-color: #2a6171;
  color: #f3d516;
  padding: 0.5rem;
}

/***** Color Choices *****/
/*
#f3d516
#2a6171
#75cac3
#d7f7f5
*/
