@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Gotu', sans-serif;
  background-color: #d7f7f5;
  color: #2a6171;
}

h1 {
  font-size: 3rem;
  margin: 1rem;
}

button {
  size: 2rem;
}

/***** Classes *****/

.header-section {
  text-align: center;
  background-color: #2a6171;
  color: #f3d516;
  padding: 0.5rem;
}

.footer-section {
  text-align: center;
  background-color: #2a6171;
  font-size: 0.7rem;
  color: #f3d516;
  padding: 0.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.button-area {
  display: flex;
  justify-content: center;
}
